transformers
ctransformers==0.2.5
sentence-transformers==2.2.2
pinecone-client
langchain
langchain-community
langchain-pinecone
langchain-huggingface
pypdf
flask
python-dotenv
huggingface-hub
jupyter
ipywidgets
protobuf
accelerate