transformers
sentence-transformers
pinecone-client
langchain
langchain-community
langchain-pinecone
langchain-huggingface
pypdf
flask
Flask-Session
python-dotenv
huggingface-hub
jupyter
ipywidgets
protobuf
accelerate

-e .